---
http_interactions:
- request:
    method: post
    uri: https://api-test.contactpay.io/gateway/v1/check_account
    body:
      encoding: UTF-8
      string: '{"shop_id":357,"payway":"qiwi_topup_rub_to_wallet[mock_server,success]","amount":100.23,"account":"79991112233","sign":"41182cc12f8fd3294cad07b602148bd2bd945d30206da91d3d280b1d05565780"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":{"account_info":null,"provider_status":1,"result":true},"error_code":0,"message":"Ok","result":true}

        '
  recorded_at: Tue, 18 Jul 2023 08:23:41 GMT
recorded_with: VCR 5.1.0
