---
http_interactions:
- request:
    method: post
    uri: https://api-test.contactpay.io/gateway/v1/withdraw/status
    body:
      encoding: UTF-8
      string: '{"shop_id":357,"now":"2023-07-18T13:23:41","withdraw_id":"48581287","sign":"e93a79c5cd972ea001d546bb289a5dc4abd72ab63f3732c5ab084ba68cce77cc"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":{"error_code":0,"id":48581287,"payee_receive":100.23,"ps_currency":643,"shop_currency":643,"shop_payment_id":"shop_payment_111","shop_write_off":102.23,"status":5},"error_code":0,"message":"Ok","result":true}

        '
  recorded_at: Tue, 18 Jul 2023 08:23:41 GMT
recorded_with: VCR 5.1.0
