---
http_interactions:
- request:
    method: post
    uri: https://api-test.contactpay.io/gateway/v1/withdraw/shop_payment_status
    body:
      encoding: UTF-8
      string: '{"shop_id":357,"now":"2023-07-18T13:23:41","shop_payment_id":"shop_payment_111","sign":"5d164daf467d5468d7343eaac05eda0159eaa734ca088a4a90b8e027ea483015"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":{"error_code":0,"id":48581287,"payee_receive":100.23,"ps_currency":643,"shop_currency":643,"shop_payment_id":"shop_payment_111","shop_write_off":102.23,"status":5},"error_code":0,"message":"Ok","result":true}

        '
  recorded_at: Tue, 18 Jul 2023 08:23:41 GMT
recorded_with: VCR 5.1.0
