---
http_interactions:
- request:
    method: post
    uri: https://api-test.contactpay.io/gateway/v1/invoice/create
    body:
      encoding: UTF-8
      string: '{"shop_id":356,"shop_order_id":"117","amount":"299.45","currency":643,"payway":"card_core_payin_rub[mock_server,success_with_callback]","description":"Testing
        invoices","sign":"1aea9cdf27005b787aefbf9f53c7b746812825b6303084f3e2634d7f428fa248"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":{"data":{"session_id":"453c7fbe448a41b591d937bd02fff4ba"},"id":33733463,"method":"GET","url":"https://checkout-test.contactpay.io/pay/453c7fbe448a41b591d937bd02fff4ba"},"error_code":0,"message":"Ok","result":true}

        '
  recorded_at: Tue, 18 Jul 2023 08:23:41 GMT
recorded_with: VCR 5.1.0
