---
http_interactions:
- request:
    method: post
    uri: https://api-test.contactpay.io/gateway/v1/shop_input_config/shop
    body:
      encoding: UTF-8
      string: '{"shop_id":356,"now":"2023-07-18T13:23:41","sign":"9b0e1a45b93d412c930c5de325c70995d949934e8d69b90d51a7f780d9307e71"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":[{"id":1,"name":"Test pay method","payways":[{"add_ons_config":null,"alias":"card_core_payin_rub[mock_server,internal_server_error]","currency":643,"fee_config":{"fix":0.0,"percent":5.0},"fee_part_config":{"fix_part":1,"percent_part":"1.0"},"id":90,"is_active":true,"max_amount":100000.0,"min_amount":5.0},{"add_ons_config":null,"alias":"card_core_payin_rub[mock_server,create_declined_with_callback]","currency":643,"fee_config":{"fix":0.0,"percent":5.0},"fee_part_config":{"fix_part":1,"percent_part":"1.0"},"id":88,"is_active":true,"max_amount":100000.0,"min_amount":5.0},{"add_ons_config":{},"alias":"card_core_payin_rub[mock_server,success_with_callback]","currency":643,"fee_config":{"fix":0.0,"percent":5.0},"fee_part_config":{"fix_part":1,"percent_part":"1.0"},"id":93,"is_active":true,"max_amount":100000.0,"min_amount":5.0},{"add_ons_config":null,"alias":"card_core_payin_rub[mock_server,timeout_error]","currency":643,"fee_config":{"fix":0.0,"percent":5.0},"fee_part_config":{"fix_part":1,"percent_part":"1.0"},"id":89,"is_active":true,"max_amount":100000.0,"min_amount":5.0}],"rating":1},{"id":2,"name":"QIWI
        Кошелек","payways":[{"add_ons_config":{"phone":{"comment":{"en":"Enter your
        phone number in international format without «+»","ru":"Введите номер телефона
        в международном формате, без «+»"},"example":"79133456789","label":{"en":"Qiwi-wallet
        number:","ru":"Номер Qiwi-кошелька:"},"prefix":"+","regex":"^(91|994|82|372|375|374|44|998|972|66|90|81|1|507|7|77|380|371|370|996|9955|992|373|84)[0-9]{6,14}$"}},"alias":"qiwi_wallet_rub[mock_server,success]","currency":643,"fee_config":{"fix":0.0,"percent":5.0},"fee_part_config":{"fix_part":1,"percent_part":"1.0"},"id":1,"is_active":true,"max_amount":100000.0,"min_amount":5.0},{"add_ons_config":{"phone":{"comment":{"en":"Enter
        your phone number in international format without «+»","ru":"Введите номер
        телефона в международном формате, б[...]
