---
http_interactions:
- request:
    method: post
    uri: https://api-test.contactpay.io/gateway/v1/shop_balance
    body:
      encoding: UTF-8
      string: '{"shop_id":22222222222,"now":"2023-07-18T13:23:41","sign":"679c225ffc0fdff5650b743604cbee3fda242d47a66cc6933671c262d9f4b293"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":null,"error_code":11,"message":"Shop (id = 22222222222) is
        not found","result":false}

        '
  recorded_at: Tue, 18 Jul 2023 08:23:41 GMT
recorded_with: VCR 5.1.0
