---
http_interactions:
- request:
    method: post
    uri: https://api-test.contactpay.io/gateway/v1/shop_balance
    body:
      encoding: UTF-8
      string: '{"shop_id":357,"now":"2023-07-18T13:23:41","sign":"4ef5d8ea9f8cbcd417b35a283fce7f920a26b702f39c9caea9b151f37f365bec"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":{"balances":[{"available":5889.25,"currency":978,"frozen":0.0,"hold":0.0},{"available":4388.6,"currency":643,"frozen":0.0,"hold":0.0},{"available":3285.8,"currency":840,"frozen":0.0,"hold":0.0}],"shop_id":357},"error_code":0,"message":"Ok","result":true}

        '
  recorded_at: Tue, 18 Jul 2023 08:23:41 GMT
recorded_with: VCR 5.1.0
