---
http_interactions:
- request:
    method: post
    uri: https://api-test.contactpay.io/gateway/v1/shop_balance
    body:
      encoding: UTF-8
      string: '{"shop_id":357,"now":"2023-07-18T13:23:41","sign":"6d7f0bc39292cab4bf6b0c8ce05a7513ecdb76124c39604c4f221cd2847675be"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":null,"error_code":10,"message":"Incorrect values for parameters:
        sign=\"Invalid sign, string to sign: \"2023-07-18T13:23:41:357\"\"","result":false}

        '
  recorded_at: Tue, 18 Jul 2023 08:23:41 GMT
recorded_with: VCR 5.1.0
